footer{
    background-color: #37474f;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 110px;
    margin-top:80px;
}

.textFooter{
    color:#a1998d;
    display: flex;
    text-align: center;
    justify-content: center;

}

