li,
ul {
    list-style: none;
}

.menuButton {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    font-family: monospace;
    padding-top: 35px;
    float: left;
    position: relative;
    margin: 0px 0 4px;
    height: 55px;
    background-color:rgba(0, 0, 0, 0);
    outline: none;
    color: rgb(1, 9, 12);
}

.menuButton:hover {
    background-color:rgb(39, 144, 189);
}

.menuButton:active {
    color: rgb(1, 9, 12);
    background-color:rgb(28,128,177);
    ;
}

.top-bar {
    display: grid;
    grid-template-columns: 150px 200px 80px 100px 200px 200px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    height: 90px;
    background: linear-gradient(90deg, #46cef1, #3f9cce);
    padding-left: 10%;
    min-width: 1920px;

}