.logo  img {
    width:240px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.logo{
    width: 22vw;
    position: absolute;
}

header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   min-height: 80px;
   padding: 0px 20px;
   height: 110px; 
}

.logoText{
    font-weight: 400;
    
}
.logoText > p{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 1.1em;
   margin-left: 250px;
}